<header>
  <a href="#" id="logo">Title<i class="fa fa-font-awesome" aria-hidden="true"></i></a>
</header>

<section id="hero1" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>Thank You</h1>
    <p>United States of America, free since 1776</p>
    </div>
  </div>
</section>

<section id="hero5" class="heros text-center">
  <div class="inner">
    <div class="copy">
    <h1>Your valiant choices</h1>
    <p>Allow millions of people, United and inspired, to achieve marvelous possibility.</p>
    <p>A salute to you, with gratitude from the home of the brave.</p>
    </div>
  </div>
</section>

<section id="hero2" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>Fire works show</h1>
    <p>Blog and thank you notes...</p>
    <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thank you!</h4>
          <h5>Service men and women, emergency teams, officers, and first responders.</h5>
          <h5>You are greatly appreciated.</h5>
        </div>
        <div class="modal-body">
          <a href="http://66.media.tumblr.com/7e6e0a86fa1d085a6d63c8077d33f2c9/tumblr_inline_n81ehwzmv61rkg7ly.gif"/>
          
            <input type="image" src="http://66.media.tumblr.com/7e6e0a86fa1d085a6d63c8077d33f2c9/tumblr_inline_n81ehwzmv61rkg7ly.gif">
            <source src="http://66.media.tumblr.com/7e6e0a86fa1d085a6d63c8077d33f2c9/tumblr_inline_n81ehwzmv61rkg7ly.gif" type="video/ogg">
          </video>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
          
        </div>
      </div>
      
    </div>

    
    </div>
  </div>
</section>
  
<section class="content">
  <div class="inner">
    <div class="copy">
    <h1>An inspiring quote</h1>
      <p>photo galleries</p>    
      <p>/-- file not found --/</p>
    </div>
  </div>
</section>

<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>